a.cart-delete:hover {
  background-color: #fc7171;
}

a:hover {
  background-color: #7f8d9f;
}

.btn-dark {
  background-color: #131A22;
  border-radius: 0;
  margin-bottom: 35px;
}

hr {
  margin: 15px 0 0 0;
}

.card {
  background-color: #f2f2f2;
}

.card-footer {
  background-color: #f2f2f2;
}

.cart-items {
  min-height: 100vh;
}
