<div *ngFor="let item of cartService.cartItems()">
  <div class="card " >
    <div class="card-body p-1">
      <div class="d-flex justify-content-between  align-items-center">
        <div class="d-flex   align-items-center">
          <img
            src="{{ item.pictureUrl }}"
            alt=""
            style="width: 45px; height: 45px"
            class=""
          />
          <div class="ms-2">
            <p class="fw-bold mb-1" style="font-size: 15px;">{{ item.name | titlecase }} ({{ item.measureOption | titlecase }})</p>
            <p class="mb-0" style="font-size: 14px;">Tk {{ item.unitPrice | number:'1.0':'en-US' }} x {{ item.quantity }}</p>
          </div>
        </div>
        <span class="badge badge-warning ms-1">Tk {{ (item.unitPrice * item.quantity) | number:'1.0':'en-US' }}</span>
      </div>
    </div>
    <div
      class="card-footer border-0 bg-light p-0 d-flex justify-content-around"
    >
      <a
        (click)="incrementItemQuantity(item.productId)"
        class="btn btn-link m-0 text-reset"
        role="button"
        data-ripple-color="primary"
      ><i class="fas fa-angle-up"></i></a>
      <a
        (click)="decrementItemQuantity(item.productId)"
        class="btn btn-link m-0 text-reset"
        role="button"
        data-ripple-color="primary"
      ><i class="fas fa-angle-down"></i></a>
      <a
        (click)="removeItem(item.productId)"
        class="btn btn-link cart-delete  m-0 text-reset"
        role="button"
        data-ripple-color="danger"

      ><i class="fas fa-trash"></i></a>
    </div>
  </div>

  <hr class="my-2">

</div>
