<app-products-page-container>
  <div id="sideBar">
    <app-category-list
      [categoryList]="categories()"
      (categoryClick)="onCategoryClick($event)"
      (departmentClick)="onDepartmentClick($event)"
    ></app-category-list>
    <hr class="my-4">

    <app-filter-list>
      <header>Authors</header>
    </app-filter-list>
    <hr class="my-4">

    <app-filter-list>
      <header>Authors</header>
    </app-filter-list>
    <hr class="my-4">

    <app-filter-list>
      <header>Authors</header>
    </app-filter-list>
    <hr class="my-4">

    <app-filter-list>
      <header>Authors</header>
    </app-filter-list>
  </div>

  <div id="itemList">
    <app-book-card *ngFor="let book of books" [book]="book"></app-book-card>

    <app-book-card [book]="books[0]"></app-book-card>
    <app-book-card [book]="books[0]"></app-book-card>

    <hr class="hr my-5">

  </div>
</app-products-page-container>
