<app-products-page-container>
  <div id="sideBar">
    <app-category-list
      [categoryList]="categories()"
      (categoryClick)="onCategoryClick($event)"
      (departmentClick)="onDepartmentClick($event)"
    ></app-category-list>
    <hr class="my-4">

    <app-filter-list>
      <header>Authors</header>
    </app-filter-list>
    <hr class="my-4">

    <app-filter-list>
      <header>Authors</header>
    </app-filter-list>
    <hr class="my-4">

    <app-filter-list>
      <header>Authors</header>
    </app-filter-list>
    <hr class="my-4">

    <app-filter-list>
      <header>Authors</header>
    </app-filter-list>
  </div>

  <div id="itemList">


    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
  </div>
</app-products-page-container>
