.checkout-body {
  position: relative;
  min-height: 100vh;
  padding: 30px 50px;
}

.card {
  border-radius: 0;
  background-color: #f2f2f2;
}

.btn-dark {
  background-color: #131A22;
}

.mb {
  margin-bottom: 32px;
}
