<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        mdbRipple
        role="button"
      ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        mdbRipple
        role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        mdbRipple
        role="button"
      ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        mdbRipple
        role="button"
      ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        mdbRipple
        role="button"
      ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        mdbRipple
        role="button"
      ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p class="lead m-1">
        A book is a garden, an orchard, a storehouse, a party, a company by the
        way, a counselor, a multitude of counselors.
      </p>

      <cite>– Charles Baudelaire</cite>
    </section>
    <hr>
    <section class="mb-4">
      <p class="lead m-1">
        Time Spent with cats is never wasted.
      </p>

      <cite>– Sigmund Freud</cite>
    </section>
    <!-- Section: Text -->

    <!-- Section: Form -->
    <section class="">
      <form>
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">Sign up for our newsletter</p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <mdb-form-control class="form-white mb-4">
              <input
                class="form-control"
                id="form5Example24"
                mdbInput
                type="email"
              />
              <label class="form-label" for="form5Example24" mdbLabel
              >Email address</label
              >
            </mdb-form-control>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button class="btn btn-outline-light mb-4" mdbRipple >
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white">Books & Pets</a>
  </div>


  <!-- Copyright -->
</footer>
<!-- Footer -->
