<h4 class="text-center">Order Summary</h4>
<hr class="hr hr-blurry">

<div class="card-body">

  <div class="card-header row justify-content-around card-text">
    <div class="col-6 h5">
      Item
    </div>
    <div class="col-3 h5 ">
      Unit Price
    </div>
    <div class="col-3 h5 ">
      Total
    </div>
  </div>

</div>
<div class="row justify-content-end mb-4 card-text">

  <div *ngFor="let item of orderSummaryItems" class="row justify-content-end mb-4 card-text">
    <div class="col-6">
      <div class="d-flex align-items-center m-0 p-0">
        <img
          src="{{item.pictureUrl || 'https://plus.unsplash.com/premium_photo-1677151193419-9be7a26c02cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60'}}"
          alt=""
          style="width: 45px; height: 45px"
          class="rounded-circle"
        />
        <div class="">
          <a class="mb-1" routerLink="/books/{{item.productId}}" class="link">{{item.name}}</a>
          <p class="text-muted mb-0">- ({{item.measureOption}}) <span class="fw-bold">x {{item.quantity}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      BDT {{ item.unitPrice | number:'1.0':'en-US' }} <span class="fw-bold">x {{item.quantity}}</span>
    </div>
    <div class="col-3">
      BDT {{ (item.unitPrice * item.quantity) | number:'1.0':'en-US'}}
    </div>
  </div>
</div>

<div class="row justify-content-end card-text card-footer">
  <div class="col-6 h5">
    Total
  </div>
  <div class="col-6 h5">
    BDT {{ getOrderTotal() | number:'1.0':'en-US' }}
  </div>
</div>
