.main {
  height: 100vh;
  position: relative;
}


.sidebar {
  width: 300px;
  background-color: #f8f6f6;
  padding-left: 10px;
  padding-top: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  left: -300px;
  animation: moveBarDefault 0.5s;
  animation-fill-mode: forwards;
}
@keyframes moveBarDefault {

  to {
    transform: translateX(300px);
  }
}

.item-list {
  width: 100%;
  position: relative;
  animation: moveListDefault 0.5s;
  animation-fill-mode: forwards;
  left: -300px;
}
@keyframes moveListDefault {

  to {
    transform: translateX(300px);
  }
}


@media only screen and (max-width: 1080px) {
  .sidebar {
    z-index: 2;
    border-right: 1px solid #c79a9a;
    left: 0;
    transition: transform 0.6s;

    animation: moveBar 0.5s;
    animation-fill-mode: forwards;
  }

  .sidebar-wrapper {
    position: fixed;
    height: 100vh;
    z-index: 9;
    transition: transform 0.6s;

  }
  .hide-sidebar {
    transform: translateX(300px);
  }

  @keyframes moveBar {
    to {
      transform: translateX(-300px);
    }
  }

  .item-list {
    position: relative;
    left: 300px;
    animation: moveList 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes moveList {
    to {
      transform: translateX(-300px);
    }
  }
}
