h5 {
  font-size: 20px;
}

.product-page-body {
  display: flex;
  height: 100vh;
}



.filter-sidebar {
  width: 330px;
  background-color: #f2f2f2;

  padding-left: 10px;
  padding-top: 10px;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
  //overflow-x: hidden;

}



.product-page-list {
  width: 100%;

  position: relative;
  animation: moveListDefault 0.5s;
  animation-fill-mode: forwards;
  left: -260px;
  padding: 25px 10px 15px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
@keyframes moveListDefault {

  to {
    transform: translateX(260px);
  }
}


@media only screen and (max-width: 1080px) {
  .product-page-list {
    width: 100%;
  }
  .filter-sidebar {
    width: 260px;
    position: fixed;
    left: -260px;

    z-index: 888;
    //border-right: 1px solid #c79a9a;
    transition: transform 0.6s;


  }

  .hide-sidebar {
    transform: translateX(260px);
  }


  .product-page-list {
    position: relative;
    left: 260px;
    animation: moveList 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes moveList {
    to {
      transform: translateX(-260px);
    }
  }
}
