<h5 class="h5 mb-2 fw-bold">
  {{ _filterType() }}
</h5>

<!--<div class="list-group list-group-light">-->
<div class="box">
  <li class="list-group-item link d-flex align-items-center py-1" *ngFor="let item of _listItems(); index as i;">
    <input mdbCheckbox mdbRipple class="form-check-input me-1" type="checkbox" value="" id="{{_filterType()}}checkboxExample{{i}}" />
    <label class="form-check-label fw-normal" for="{{_filterType()}}checkboxExample{{i}}">{{ item.name }}</label>
  </li>

  <li class="list-group-item text-center py-2" *ngIf="_listItems().length == 0" >
    <label class="form-check-label fw-normal " style="cursor: default;">No data found</label>
  </li>
</div>
