<h5 class="h5 mb-2 fw-bold">
  <ng-content select="header"></ng-content>
  <div class="list-group ">
    <li class="list-group-item link">
      <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="checkboxExample1" />
      <label class="form-check-label fw-normal" for="checkboxExample1">First checkbox</label>
    </li>
    <li class="list-group-item">
      <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="checkboxExample2" />
      <label class="form-check-label" for="checkboxExample2">Second checkbox</label>
    </li>
    <li class="list-group-item">
      <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="checkboxExample3" />
      <label class="form-check-label" for="checkboxExample3">Third checkbox</label>
    </li>
    <li class="list-group-item">
      <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="checkboxExample4" />
      <label class="form-check-label" for="checkboxExample4">Fourth checkbox</label>
    </li>
    <li class="list-group-item">
      <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="checkboxExample5" />
      <label class="form-check-label" for="checkboxExample5">Fifth checkbox</label>
    </li>
  </div>
</h5>
