.form-check-label {
  font-size: 15px;
  font-weight: normal;
}




input[type=checkbox]
{
  //-moz-transform: scale(0.5); /* FF */
  //-webkit-transform: scale(0.5); /* Safari and Chrome */
  transform: scale(0.65);
  //padding: 10px;
  margin: 5px 0;
}

list-group-item {

}
.list-group-light {
  //background-color: #9b5a5a;
}

.box {
  border: 1px solid #37475A;
  width: 230px;
  max-height: 230px;
  margin: 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.list-group {

  border-radius: 0;
  width: 93%;
  max-height: 250px;
  margin: 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
}
