<div *ngIf="_book()" class="card  mb-4">
  <div class="row g-0">
    <div class="col-md-3 col-sm-6" style="max-height: 400px">
      <img
        [src]="'https://m.media-amazon.com/images/I/71rFBHcbWcL._AC_UY327_FMwebp_QL65_.jpg'"
        alt="..."
        class="card-img">
    </div>
    <div class="col-md-9 col-sm-6">
      <div class="card-body">
        <h4 class="card-title m-o p-0">{{ _book()?.name }}</h4>
        <p class=" mx-2 mb-2">
          <small class="text-muted">- by
            <span *ngFor="let author of _book()?.authors" class="me-1">
              <span class="link">{{author.name}}</span>
              <span *ngIf="(_book()?.authors?.length || 0 > 1)" class="me-1">, </span>
            </span>
            <span> | </span>
            <span class="mx-1">{{_book()?.publicationDate | date: 'longDate'}}</span>
          </small>
        </p>

        <div class="mb-3">
          <span class="me-2">3.67</span>
          <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </span>
          <span class="mx-1 ms-2">-</span>
          <span class="mx-1">139,489 <span class="text-muted">(Ratings)</span></span>
        </div>

        <div class="row mb-2">
          <div class="col-xl-3  mr-3 mb-2">
            <h5 class="mr-4">Paperback</h5>

            <h5 class="mr-4">BDT {{getPaperbackPrice() | number:'1.0':'en-US'}}</h5>
          </div>
          <div class="col-xl-3 ">
            <h5 class="mr-4">Hardcover</h5>
            <h5 class="mr-4">BDT {{getHardcoverPrice() | number:'1.0':'en-US'}}</h5>
          </div>
        </div>

        <p class=" mr-3 mb-0"><small class="text-muted">Shipping Fee:</small>
        </p>
        <p class=" mr-3 mb-4"><small class="text-muted">Inside Dhaka BDT 30 | Outside Dhaka BDT 100</small>
        </p>


        <div class="row  mb-4">
          <div class="col-xl-3 col-lg-3 col-md-4 col-xsm-4 mr-3 mb-2">
            <div class="dropdown" mdbDropdown>
              <button
                aria-expanded="false"
                class="btn btn-dark dropdown-toggle"
                id="dropdownMenuButton"
                mdbDropdownToggle
                type="button"
              >
                <i class="fas fa-shopping-cart me-2"></i>
                Add to Cart
              </button>
              <ul aria-labelledby="dropdownMenuButton" class="dropdown-menu" mdbDropdownMenu>
                <li>
                  <button  class="dropdown-item" type="button">
                    Paperback
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Hardcover
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-xsm-6">
            <div>
              <button class="btn btn-outline-dark text-dark" routerLink="./{{_book()?.id}}"><i
                class="fas fa-book me-2"></i>View Book Details
              </button>
            </div>
          </div>
        </div>

        <h6 class="m-0">Highlight:</h6>
        <p class="card-text">{{ _book()?.highlightText }}</p>

      </div>
    </div>
  </div>
</div>
