.card {
  background-color: #f2f2f2;
  font-size: 90%;
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 17px;
  }
  h6  {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }

  img {
    width: 87%; height: 82%; margin: 1rem .7em;
  }
}
