<div class="container main-body">
  <div class="text-center  text-dark">
    <h1 class="h1">Welcome to Books & Pets</h1>
    <p class="mb-3 lead">Here you will find imported books and pet products of myriad categories.</p>
  </div>

  <hr class="hr hr-blurry"/>

  <div class="row mb-3">
    <div class="col-md-12 col-lg-6 dept-container mb-3" routerLink="books">
      <img
        alt="Snow"
        src="https://images.unsplash.com/photo-1512820790803-83ca734da794?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjB8fGJvb2tzfGVufDB8MHwwfHx8MA%3D%3D"
        style="height: 400px"
      />
      <p class="display-6 overlay text-white">Shop Books</p>
    </div>

    <div class="col-md-12 col-lg-6 dept-container mb-3">
      <img
        alt="Snow"
        src="https://images.unsplash.com/photo-1617181669346-e41bb86eebfd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzV8fGNhdCUyMGZvb2R8ZW58MHwwfDB8fHww"
        style="height: 400px"
      />
      <p class="display-6 overlay text-white">Shop Pet Items</p>
    </div>
  </div>

  <hr class="hr hr-blurry"/>


  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
      <p class="lead m-1">
        Thank you for visiting our store. We hope you find what you're looking for.
      </p>
      <p>Books & Pets</p>
    </div>
  </div>


  <hr class="hr hr-blurry"/>

</div>
