.mn {
  position: relative;
}
.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9;
  background-color: #322626;
  //background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.fa-bars {
  display: none;
  cursor: pointer;
}

.btn {
  text-transform: capitalize;
}

.center {
  width: 660px;
}

.left-sm {
  display: none;
}

.right-sm {
  display: none;
}

.btn-user-sm {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .fa-bars {
    display: block;
  }
}

@media only screen and (max-width: 1020px) {
  .center {
    width: 540px;
  }

}

@media only screen and (max-width: 880px) {
  .center {
    width: 420px;
  }
}

@media only screen and (max-width: 750px) {
  .center {
    width: 390px;
  }

  .btn-user-sm {
    display: block;
  }

  .btn-user-lg {
    display: none;
  }

  .left-sm {
    display: block;
  }

  .right-sm {
    display: block;
  }

  .left-lg {
    display: none;
  }

  .right-lg {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .center {
    width: 340px;
  }
}

@media only screen and (max-width: 550px) {
  .center {
    width: 270px;
  }
}
